#root {
	padding: 16px !important;
}

#left-side {
	box-shadow: 0 0 48px 0 hsla(0, 0%, 0%, 0.125);
	background-color: var(--secondary-background-color);
	border-radius: 8px;
	padding: 1.2em;
}

#left-side .icon-landscape a {
	gap: 0.65em;
}
#left-side .icon-landscape a img {
	height: 1.75em;
}

#left-side > .scrollable {
	margin-right: -1.2em;
	padding-right: 1.2em;
}

#left-side-expander {
	display: none;
}

#right-side {
	box-sizing: border-box;
	padding: 1.2em;
}
#right-side > .scrollable {
	margin-right: calc((1.2em + 16px) * -1);
	padding-right: calc(1.2em + 16px);
}

#search-box-wrapper {
	position: relative;
}
#search-box-wrapper > .search-box-icon {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	height: 100%;
	aspect-ratio: 1/1;
	padding: 0.5em;
	box-sizing: border-box;
}
#search-box-wrapper > .search-box-key {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	box-sizing: border-box;
	padding: 0.2em 0.4em;
	right: 0.6em;
	font-size: 0.75em;
	border: 1px solid var(--separator-color);
	border-radius: 0.3em;
	background-color: var(--primary-background-color);
	color: var(--accent-color);
	-webkit-user-select: none;
	user-select: none;
}
#search-box-wrapper > #search-box {
	--box-width: min(175px, max(12dvw, 60px));

	position: relative;
	z-index: 0;
	padding-left: calc(0.9em + 22px);
	padding-right: 4.5em;
	width: var(--box-width);
}
#search-box-wrapper > #search-box:focus {
	padding-right: revert-layer;
	width: calc(var(--box-width) - 2px + 4.5em);
}

#search-box-wrapper > #search-box:focus + .search-box-key {
	display: none;
}

.scrollable {
	max-height: 100%;
	overflow-y: auto;
}

.page a {
	color: var(--accent-color) !important;
}
.page a:visited {
	color: revert !important;
}

code.code {
	background-color: var(--ternary-background-color);
	padding: 0.2em 0.4em;
	border-radius: 0.3em;
}

ul {
	margin: 0 !important;
	display: flex;
	flex-direction: column;
	gap: var(--section-gap-vertical);
	padding-left: 1em !important;
}

#left-side ul {
	gap: .4em;
}

.page ul {
	line-height: 1.3;
}

.red-toggle-switch {
	--accent-color: #f00;
}

#right-side {
	width: 0%;
	box-sizing: border-box;
}

@media (max-width: 720px) {
	#left-side {
		position: absolute;
		display: none;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
		width: 0;
		overflow-x: hidden;
		box-sizing: border-box;
		box-shadow: 0 0 48px 0 hsla(0, 0%, 0%, 0.5);
	}
	#left-side.on-open {
		display: flex;
		width: calc(7.7em + 142px);
	}
	#left-side-expander {
		display: flex;
		position: absolute;
		top: .8em;
		right: 1.2em;
		aspect-ratio: 1/1;
		font-size: 1.25em;
		border: 2px solid var(--accent-color) !important;
	}

	#search-box-wrapper > #search-box {
		--box-width: 125px
	}
}
